@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

// buttons
.btn {
    border-radius: 4px;
}

.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
    background-color: var(--tertiary-low);
    color: inherit;
    svg{
        color: inherit!important;
    }
}


.login-button {
    text-transform: uppercase;
    svg {
        display: none;
    }
}

.login-button:hover {
    border-color: var(--tertiary-low);
}

// hamburger menu
.menu-panel li a.widget-link:hover,
.menu-panel li a.widget-link:active,
.menu-panel li a.categories-link:hover,
.menu-panel li a.categories-link:active,
.menu-panel li.heading a.categories-link:hover,
.menu-panel li.heading a.categories-link:active,
.user-menu .quick-access-panel li:hover,
.user-menu .quick-access-panel li:active,
.directory .me {
    background-color: #d5ecc5;
}

// hide category selector on category overview
.select-kit.single-select.combobox.combo-box.category-drop.box.ember-view:not(.has-selection) {
    display: none;
}

.nav-pills > li a.active {
    background: none;
    color: var(--primary);
    border-bottom: 2px solid var(--tertiary);
}

.nav-pills > li > a:hover {
    background-color: #d5ecc5;
    color: var(--primary);
}

// category
.category-logo.aspect-image img{
    width: 100%;
}

.categories-and-latest {
    flex-flow: column;
}

.category-list tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media only screen and (max-width: 599px) {
        flex-direction: column;
    }
    
    @media only screen and (min-width: 600px) {
        flex-flow: row wrap;
    }
}

.category-desc {
    display: none;
}

#topic-footer-buttons {
    overflow: auto;
}